<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Sign Up</title>
</head>
<body>
    <form method = 'post' th:action="@{/user}">
        <label>
            Username:
            <input th:field="${user.username}" value="${user.username}">
        </label>
        <p class="error" th:errors="${user.username}"></p>

        <label>
            Email:
            <input th:field="${user.email}" value="${user.email}">
        </label>
        <p class="error" th:errors="${user.email}"></p>

        <label>
            Password:
            <input th:field="${user.password}" type = 'password'>
        </label>
        <p class="error" th:errors="${user.password}"></p>
        <label>
            Verify your Password:
            <input type = 'password' th:field="${user.verifyPassword}">
        </label>
        <p class = "error" th:errors="${user.verifyPassword}"></p>

        <input type = 'submit' value = 'Sign Up'>
    </form>

</body>
</html>